/* BODY */

body {
    background-image: radial-gradient(circle at 48.28% 59.73%, #5c2e64 0, #4a1f5f 16.67%, #32105b 33.33%, #080457 50%, #000053 66.67%, #000050 83.33%, #00004e 100%);
}

* {
    padding: 0%;
    margin: 0%;
}

.body-flex {
    display: flex;
}


/* HEADER */

.video {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: right;
}

.texto_encima {
    text-align: right;
    position: absolute;
    top: 10px;
    left: 700px;
    z-index: 10;
}

.img_encima {
    position: absolute;
    transform: translate(-20%, -20%);
}


/* ESTILO H1 */

h1 {
    font-size: 350%;
    text-align: center;
    color: whitesmoke;
    font-family: cursive;
    float: center;
    margin-top: 2%;
    margin-left: 8%;
}


/* ESTILO H2 */

h2 {
    font-size: 250%;
    text-align: center;
    color: whitesmoke;
    font-family: cursive;
    float: center;
    margin-top: 6%;
    margin-bottom: 5%;
    margin-left: 0.5px;
}


/* ESTILO H3 */

h3 {
    font-size: 180%;
    text-align: center;
    color: whitesmoke;
    font-family: cursive;
    float: center;
    margin-top: 6%;
    margin-bottom: 5%;
    margin-left: 3%;
}


/* MENU CON SUBMENU (PRINCIPAL) */

.navbar {
    overflow: hidden;
    background-color: #1f0778;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: rgb(62, 184, 32);
}


/* DISPLAY */

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #5C33F6;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: rgb(62, 184, 32);
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}


/* MENU_NAV (FOOTER)*/


/* DISPLAY  FLEX*/

.menu {
    float: right;
    width: 25%;
    padding: 10px 100px;
    text-align: right;
    list-style: none;
    justify-content: space-around;
    text-align: right;
    position: relative;
    top: 10px;
    left: 30px;
}

a {
    text-decoration: none;
}


/* DISPLAY  FLEX*/

header nav .menu {
    display: flex;
}

header nav .menu li a {
    display: block;
    padding: 10px;
    color: #afb9c8;
}


/* DISPLAY  FLEX*/

footer nav .menu {
    display: flex;
}


/* DISPLAY */

footer nav .menu li a {
    display: block;
    padding: 10px;
    color: #afb9c8;
    flex-direction: row;
}


/* LOGO */

.logo {
    float: left;
    padding: 5px;
}


/* MAIN */

.redes {
    float: none;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

section h2 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.contenedor_nosotros {
    margin-top: 10%;
    margin-bottom: 5%;
}

.nosotros {
    font-size: 180%;
    padding: 5%;
    color: blanchedalmond;
}


/* IMAGENES DJS (NOSOTROS) */


/* DISPLAY */

.imagen_nico {
    display: inline;
    margin-left: 15%;
}

.djnico {
    float: right;
    text-align: center;
    margin-top: 15%;
    margin-right: 25%;
    color: whitesmoke;
    transform: rotate(6deg);
}


/* DISPLAY */

.imagen_axel {
    display: inline;
    margin-left: 15%;
}

.djaxel {
    float: right;
    text-align: center;
    margin-top: 15%;
    margin-right: 25%;
    color: whitesmoke;
    transform: rotate(-6deg);
}


/* DISPLAY */

.imagen_rama {
    display: inline;
    margin-left: 15%;
}

.djrama {
    float: right;
    text-align: center;
    margin-top: 15%;
    margin-right: 25%;
    color: whitesmoke;
    transform: rotate(6deg);
}


/* DISPLAY */

.imagen_gabi {
    display: inline;
    margin-left: 15%;
}

.djgabi {
    float: right;
    text-align: center;
    margin-top: 15%;
    margin-right: 25%;
    color: whitesmoke;
    transform: rotate(-6deg);
}

.dj h3 {
    font-size: x-large;
    color: coral;
    font-family: cursive;
    text-align: left;
}

.dj {
    float: inline-start;
    padding-right: 10px;
    display: block;
}

section article img {
    margin: 10px;
}

table,
th,
td {
    border: 1px solid black;
    list-style-type: circle;
}

.lista,
.tabla {
    font-size: 180%;
    margin: 5%;
    list-style-type: circle;
    color: white;
    padding: 1%;
}

.listaOperadores {
    font-size: 180%;
    text-align: center;
    margin-bottom: 4%;
    list-style-type: circle;
    color: white;
    padding: 1%;
}

.listaOperadores li {
    padding: 1%;
}

.negrita {
    font-family: cursive;
    color: rgb(62, 184, 32);
    font-size: 190%;
}

.negrita2 {
    font-family: cursive;
    color: rgb(62, 184, 32);
    font-size: 190%;
}

.lista2 {
    padding-left: 45%;
    margin-bottom: 4%;
    color: whitesmoke;
    font-size: 150%;
}

.card-body {
    text-align: center;
}

.card-title {
    font-family: cursive;
    color: rgb(62, 184, 32);
    font-size: 240%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.text {
    font-size: 160%;
    color: white;
    padding: 10px;
}


/* IMAGENES JUNTAS 1*/

.imagenes_evento1 {
    border-style: inset;
    margin-left: 10%;
}

.imagenes_evento2 {
    border-style: outset;
}

.imagenes_evento5 {
    border-style: inset;
    margin-left: 30%;
}


/* IMAGENES JUNTAS 2*/

.imagenes_evento3 {
    border-style: groove;
    margin-left: 9%;
}

.imagenes_evento4 {
    border-style: ridge;
    margin-left: 2%;
}

.imagenes_evento6 {
    border-style: outset;
    margin-top: 2%;
    margin-left: 30%;
}

.redes2 {
    padding: 9%;
}


/* FORMULARIO */

.formulario {
    margin: 1%;
    font-size: 130%;
    color: black;
    transition: width 5s;
}

.formulario:hover {
    width: 280px;
}

.formulario2 {
    margin: 1%;
    font-size: 150%;
    color: whitesmoke;
}

#nombre {
    margin-left: 2%;
    color: black;
}

#apellido {
    margin-left: 1.7%;
    color: black;
}

#email {
    margin-left: 3%;
    color: black;
}

#consulta {
    margin-left: 12%;
}


/* FOOTER*/

footer {
    margin: 2%;
}

.redes {
    float: none;
    margin-left: 2%;
}

footer h2 {
    text-align: left;
    color: whitesmoke;
    margin: 2%;
}

footer p {
    text-align: right;
    color: antiquewhite;
}