//VARIABLES
$colorFondo:radial-gradient(circle at 48.28% 59.73%, #5c2e64 0, #4a1f5f 16.67%, #32105b 33.33%, #080457 50%, #000053 66.67%, #000050 83.33%, #00004e 100%);
$color1:white;
$color2:antiquewhite;
$color3:black;
$color4:rgb(62, 184, 32);
$color5:whitesmoke;
$fuente:cursive;
$centro:center;
//BODY
body {
    background-image: $colorFondo;
}

* {
    padding: 0%;
    margin: 0%;
}

.grid {
    display: grid;
}


/********************************* MEDIA Max-width 600px *******************************************/

@media only screen and (max-width:600px) {
    .grid {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    /* MENU CON SUBMENU */
    .navbar {
        overflow: hidden;
        margin-bottom: 0%;
    }
    .navbar a {
        float: $centro;
        font-size: 12px;
        color: $color1;
        text-align: $centro;
        padding: 10px 12px;
        text-decoration: none;
    }
    .subnav {
        float: $centro;
        overflow: hidden;
    }
    .subnav .subnavbtn {
        font-size: 12px;
        border: none;
        outline: none;
        color: $color1;
        padding: 10px 12px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .navbar a:hover,
    .subnav:hover .subnavbtn {
        background-color: $color4;
    }
    .subnav-content {
        display: none;
        position: absolute;
        left: 0;
        background-color: #5C33F6;
        width: 100%;
        z-index: 1;
    }
    .subnav-content a {
        float: $centro;
        color: $color1;
        text-decoration: none;
    }
    .subnav-content a:hover {
        background-color: $color4;
        color: $color3;
    }
    .subnav:hover .subnav-content {
        display: block;
    }
    footer p {
        text-align: $centro;
        color: $color2;
        margin-bottom: 2%;
    }
    h2 {
        font-size: 150%;
        text-align: $centro;
        color: $color5;
        font-family: $fuente;
        float: $centro;
        margin-top: 6%;
        margin-bottom: 5%;
        margin-left: 1px;
    }
    .video {
        margin-top: 0%;
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 100%;
    }
    .redes {
        text-align: $centro;
    }
    /******************** SECTION  ******************/
    .red {
        float: none;
        margin-left: 10%;
        padding: 6%;
    }
    /****** NAV ERROR 404 *******/
    .contenedorError {
        position: relative;
        display: inline-block;
    }
    .texto-encimaError {
        text-align: $centro;
        position: absolute;
        top: 55%;
        left: 30%;
        z-index: 10;
        text-decoration: none;
        color: $color5;
        font-size: 140%;
        font-family: $fuente;
    }
    .img {
        position: absolute;
        transform: translate(-20%, -20%);
    }
}


/******************************** MEDIA Min-width 600px *******************************/

@media only screen and (min-width:600px) {
    .grid {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    /* MENU CON SUBMENU */
    .navbar {
        overflow: hidden;
        margin-bottom: 0%;
    }
    .navbar a {
        float: left;
        font-size: 14px;
        color: $color1;
        text-align: $centro;
        padding: 12px 14px;
        text-decoration: none;
    }
    .subnav {
        float: left;
        overflow: hidden;
    }
    .subnav .subnavbtn {
        font-size: 14px;
        border: none;
        outline: none;
        color: $color1;
        padding: 12px 14px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .navbar a:hover,
    .subnav:hover .subnavbtn {
        background-color: $color4;
    }
    .subnav-content {
        display: none;
        position: absolute;
        left: 0;
        background-color: #5C33F6;
        width: 100%;
        z-index: 1;
    }
    .subnav-content a {
        float: left;
        color: $color1;
        text-decoration: none;
    }
    .subnav-content a:hover {
        background-color: $color4;
        color: $color3;
    }
    .subnav:hover .subnav-content {
        display: block;
    }
    footer p {
        text-align: $centro;
        color: $color5;
        margin: 5%;
    }
    h2 {
        font-size: 250%;
        text-align: $centro;
        color: $color5;
        font-family: $fuente;
        float: $centro;
        margin-top: 6%;
        margin-bottom: 5%;
        margin-left: 1px;
    }
    .video {
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 100%;
    }
    .redes {
        text-align: $centro;
    }
    /****** NAV ERROR 404 *******/
    .contenedorError {
        position: relative;
        display: inline-block;
    }
    .texto-encimaError {
        text-align: $centro;
        position: absolute;
        top: 50%;
        left: 200px;
        z-index: 10;
        text-decoration: none;
        color: $color5;
        font-size: 150%;
        font-family: $fuente;
    }
    .img {
        position: absolute;
        transform: translate(-20%, -20%);
    }
}


/* ************************************* MEDIA min-width 768px ************************************************/

@media only screen and (min-width:768px) {
    .grid {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    /* MENU CON SUBMENU */
    .navbar {
        overflow: hidden;
        margin-bottom: 0%;
    }
    .navbar a {
        float: left;
        font-size: 16px;
        color: $color1;
        text-align: $centro;
        padding: 4px 8px 0px;
        text-decoration: none;
    }
    .subnav {
        float: left;
        overflow: hidden;
    }
    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: $color1;
        padding: 4px 8px 0px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .navbar a:hover,
    .subnav:hover .subnavbtn {
        background-color: $color4;
    }
    /* DISPLAY */
    .subnav-content {
        display: none;
        position: absolute;
        left: 0;
        background-color: #5C33F6;
        width: 100%;
        z-index: 1;
    }
    .subnav-content a {
        float: left;
        color: $color1;
        text-decoration: none;
    }
    .subnav-content a:hover {
        background-color: $color4;
        color: $color3;
    }
    .subnav:hover .subnav-content {
        display: block;
    }
    footer p {
        text-align: $centro;
        color: $color5;
        margin: 5%;
    }
    h2 {
        font-size: 350%;
        text-align: $centro;
        color: $color5;
        font-family: $fuente;
        float: $centro;
        margin-top: 6%;
        margin-bottom: 5%;
        margin-left: 1px;
    }
    .video {
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 100%;
    }
    .red {
        float: none;
        margin-left: 10%;
        padding: 6%;
    }
    .redes {
        text-align: $centro;
    }
    /****** NAV ERROR 404 *******/
    .contenedorError {
        position: relative;
        display: inline-block;
    }
    .texto-encimaError {
        text-align: $centro;
        position: absolute;
        top: 50%;
        left: 400px;
        z-index: 10;
        text-decoration: none;
        color: $color5;
        font-size: 240%;
        font-family: cursive;
    }
    .img {
        position: absolute;
        transform: translate(-20%, -20%);
    }
}